.dropdown {
  height: 100%;
  min-width: 300px;
  background: #f7f7f7;
  border-radius: 5px;
  margin-bottom: 20px;
}

.dropdown h3 {
  height: 30px;
  border-radius: 5px;
  background: #ff6060;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.dropdown span {
  font-size: 1.2rem;
}

.dropdown-list {
  background: #f7f7f7;

  padding: 25px 12px;
  border-radius: 0 0 5px 5px;
  color: #ff6060;
  font-size: 0.9rem;
}
.dropdown ul {
  list-style-type: none;
}

.dropdown li {
  margin-bottom: 6px;
}

.dropdown-list.drop-close {
  display: none;
}

.dropdown-list.drop-open {
  display: open;
}

@media screen and (min-width: 768px) {
  .dropdown {
    border-radius: 10px;
  }

  .dropdown h3 {
    height: 50px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 0 20px;
  }

  .dropdown-list {
    padding: 30px 20px;

    border-radius: 0 0 10px 10px;
    font-size: 1.2rem;
  }
}
