.cardBox {
  position: relative;
  margin-bottom: 32px;
}

.card h2 {
  position: absolute;
  bottom: 24px;
  left: 16px;
  color: #fff;
  width: 300px;
  height: 52px;
  line-height: 25, 67px;
  font-size: 18px;
  font-weight: 500;
}

.card img {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 32px;
}

.cardDiv {
  background: linear-gradient(185deg, transparent 70%, rgba(0, 0, 0, 0.5));
  border-radius: 10px;
  width: 340px;
  height: 340px;
  bottom: 34px;
  position: absolute;
}

.card img {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 32px;
}

.apartmentCard {
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #f6f6f6;
  border-radius: 25px;
  margin: 32px 64px;
}
