.errorPage {
  color: #ff6060;
}

.errorPage a {
  display: block;
  text-align: center;
  margin-top: 130px;
  color: #ff6060;
}

.errorPage a:hover {
  text-decoration: underline;
}

.errorCode {
  display: block;
  text-align: center;
  font-size: 7rem;
  font-weight: 700;
  margin: 180px auto 0 auto;
}

.errorTxt {
  display: block;
  text-align: center;
  line-height: 150%;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .errorCode {
    font-size: 10rem;
  }

  .errorTxt {
    font-size: 1.7rem;
    margin-top: 10px;
  }
}
