.apartment-header h2 {
  color: #ff6060;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}

.apartment-page {
  margin: 0 32px 0 32px;
}

.apartment-header p {
  color: #ff6060;
  font-weight: 500;
  font-size: 18px;
  margin-top: 5px;
}

.apartment-header .apartmentTags {
  margin: 10px 10px 10px 0;
}

.apartment-header-host {
  margin: 20px 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.apartment-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.apartment-details .dropdown {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .apartment-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 25px;
  }

  /*.apartment-header h2 {
    color: #ff6060;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 5px;
  }*/

  .apartment-header-host {
    flex-direction: column;
    margin: 0;
  }

  .apartment-details .dropdown {
    width: 47%;
  }

  .apartment-page {
    margin: 0 64px 0 64px;
  }
}
